<main>
    <div class="container">
        <div class="low">
            <div class="mx-auto text-center col-11 col-sm-10 col-lg-8 col-xl-6">
                <h1 class="pt-5">Welcome&thinsp;to&thinsp;<i class="fas fa-book"></i><strong>Bookers!</strong></h1>
            </div>
        </div>
    </div>
</main>