<main>
    <div class="container">
        <div class="low">
            <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
                <h1 class="pt-5">Welcome&thinsp;to&thinsp;<i class="bi bi-book"></i><strong>Bookers!!</strong></h1>
                <p>In&thinsp;<i class="bi bi-book"></i><strong>Bookers,</strong></p>
                <p>you can share and exchange your opinions , inpressions , and emotions</p>
                <p>about various books!</p>
                <div class="btn-wrapper col-10 mx-auto py-3">
                    <div class="row">
                        <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3" %>
                    </div>
                    <div class="row">
                        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-sm btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>